In [2]:
import motmetrics as mm
import numpy as np

In [3]:
acc = mm.MOTAccumulator(auto_id=True)

acc.update(
    [1, 2],                     # Ground truth objects in this frame
    [1, 2, 3],                  # Detector hypotheses in this frame
    [
        [0.1, np.nan, 0.3],     # Distances from object 1 to hypotheses 1, 2, 3
        [0.5,  0.2,   0.3]      # Distances from object 2 to hypotheses 1, 2, 3
    ]
)

acc.mot_events

                Type  OId  HId    D
FrameId Event
0       6      MATCH  1.0  1.0  0.1
        7      MATCH  2.0  2.0  0.2
        8         FP  NaN  3.0  NaN

In [4]:
frameid = acc.update(
    [1, 2],
    [1],
    [
        [0.2],
        [0.4]
    ]
)

acc.mot_events.loc[frameid]

        Type  OId  HId    D
Event
3      MATCH  1.0  1.0  0.2
4       MISS  2.0  NaN  NaN

In [5]:
frameid = acc.update(
    [1, 2],
    [1, 3],
    [
        [0.6, 0.2],
        [0.1, 0.6]
    ]
)

acc.mot_events.loc[frameid]

         Type  OId  HId    D
Event
5       MATCH  1.0  1.0  0.6
6      ASCEND  2.0  3.0  0.6
7      SWITCH  2.0  3.0  0.6

In [6]:
mh = mm.metrics.create()
summary = mh.compute_many(
    [acc, acc.events.loc[0:1]],
    metrics=mm.metrics.motchallenge_metrics,
    names=['full', 'part'],
    generate_overall=True
)

strsummary = mm.io.render_summary(
    summary,
    formatters=mh.formatters,
    namemap=mm.io.motchallenge_metric_names
)

print(strsummary)

         IDF1   IDP   IDR  Rcll  Prcn GT MT PT ML FP FN IDs  FM  MOTA  MOTP IDt IDa IDm
full    83.3% 83.3% 83.3% 83.3% 83.3%  2  1  1  0  1  1   1   1 50.0% 0.340   0   1   0
part    75.0% 75.0% 75.0% 75.0% 75.0%  2  1  1  0  1  1   0   0 50.0% 0.167   0   0   0
OVERALL 80.0% 80.0% 80.0% 80.0% 80.0%  4  2  2  0  2  2   1   1 50.0% 0.275   0   1   0