In [13]:
import motmetrics as mm
import numpy as np

In [14]:
acc = mm.MOTAccumulator(auto_id=True)

acc.update(
    [1, 2],  # Oi
    [1, 2],  # Hi
    [
        [0.7, np.nan], # D(Oi, Hi)
        [np.nan, 0.6],
    ]
)

acc.mot_events

                Type  OId  HId    D
FrameId Event
0       3      MATCH  1.0  1.0  0.7
        4      MATCH  2.0  2.0  0.6

In [15]:
frameid = acc.update(
    [1, 2],  # Oi
    [1, 2],  # Hi
    [
        [0.8, np.nan],  # D(Oi, Hi)
        [np.nan, 0.9],
    ]
)

acc.mot_events.loc[frameid]

        Type  OId  HId    D
Event
3      MATCH  1.0  1.0  0.8
4      MATCH  2.0  2.0  0.9

In [16]:
frameid = acc.update(
    [1, 2, 3],  # Oi
    [1, 2],  # Hi
    [
        [0.9, np.nan],  # D(Oi, Hi)
        [np.nan, 0.55],
        [np.nan, 0.1],
    ]
)

acc.mot_events.loc[frameid]

        Type  OId  HId     D
Event
4      MATCH  1.0  1.0  0.90
5      MATCH  2.0  2.0  0.55
6       MISS  3.0  NaN   NaN

In [17]:
frameid = acc.update(
    [1, 2, 3, 4],  # Oi
    [1, 2],  # Hi
    [
        [0.2, np.nan],  # D(Oi, Hi)
        [np.nan, 0.4],
        [np.nan, 0.3],
        [np.nan, 0.25],
    ]
)

acc.mot_events.loc[frameid]

        Type  OId  HId    D
Event
5      MATCH  1.0  1.0  0.2
6      MATCH  2.0  2.0  0.4
7       MISS  3.0  NaN  NaN
8       MISS  4.0  NaN  NaN

In [18]:
mh = mm.metrics.create()
summary = mh.compute_many(
    [acc, acc.events.loc[0:1]],
    metrics=mm.metrics.motchallenge_metrics,
    names=['full', 'part'],
    generate_overall=True
)

strsummary = mm.io.render_summary(
    summary,
    formatters=mh.formatters,
    namemap=mm.io.motchallenge_metric_names
)

print(strsummary)

          IDF1    IDP    IDR   Rcll   Prcn GT MT PT ML FP FN IDs  FM   MOTA  MOTP IDt IDa IDm
full     84.2% 100.0%  72.7%  72.7% 100.0%  4  2  0  2  0  3   0   0  72.7% 0.631   0   0   0
part    100.0% 100.0% 100.0% 100.0% 100.0%  2  2  0  0  0  0   0   0 100.0% 0.750   0   0   0
OVERALL  88.9% 100.0%  80.0%  80.0% 100.0%  6  4  0  2  0  3   0   0  80.0% 0.671   0   0   0